@charset "utf-8";
/* CSS Document */
 html, body {
     font-family: Arial, sans-serif;
     height: 100%;
     margin: 0;
     padding: 0;
}
 .container-fluid {
     height: 100%;
     position: relative;
     padding: 0px;
     background-color: #efe9e4;
}
 input {
     font-size: 12px;
}
 #collapsable-nav {
     position: relative;
     z-index: 50;
     background-color: inherit;
     opacity: 40;
}
 .dropdown-toggle {
     font-family: 'Lora', serif;
     text-shadow: 1px 1px 1px #E9E3DF;
     color: #19a0d8 !important;
     font-weight: bold;
     font-size: 16px;
}
 input[type=text] {
     border: 1px solid #96D37D ;
     border-radius: 4px;
}
 .btn-default {
     color: #fff;
     background-color: #FC892F;
    /* margin-left: 10px;
    */
}
 .navbar-brand {
     position: relative;
     z-index: 100;
}
 nav {
     background-color: #efe9e4;
}
 h1 {
     font-family: 'Lora', serif;
     text-shadow: 1px 1px 1px #E9E3DF;
    /* color: #CEB099 !important ;
    */
     color: #19a0d8 !important;
     font-weight: bold;
     font-size: 18px !important;
     margin: 5px 0px 5px 5px !important;
     text-align: center;
}
 .navbar-brand {
     padding: 10px 10px 0px 10px !important;
}
 #map {
     bottom:0px;
     height: 100%;
     width: 100%;
     left: 0px;
     position: absolute;
     right: 0px;
     top: 65px;
}
 .dropdown-menu {
     background-color: #efe9e4;
}
 .dropdown-menu>.divider {
     border-top: 0px;
     border-bottom: 1px solid #96D37D ;
    /* background-color: #FC892F !important;
    */
}
 li>a:hover {
     color: #FC892F !important;
	 background-color: #96D37D;
}
#items:hover {
	background-color: #96D37D;
	cursor: pointer;
	display:inline-block !important;
	text-align:center !important;
}
 .dropdown-menu {
     border: 1px solid #96D37D ;
}
 @media screen (min-width: 767) and (max-width: 820) {
    /* Header */
     h1 {
         font-size: 14px !important;
    }
     .dropdown-toggle {
         font-size: 12px !important;
    }
}
